bsc-chat:not(:defined) > * {
  display: none;
}

/* ===============================
AFTER HEADER – GOTO C2C
=============================== */

.goto-c2c {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  height: 107px;
  top: 58px;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, white 17%);
  padding: 5px 20px 30px 20px;

  p {
    margin: 14px 0 12px;
    font-family: Monserrat, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  button {
    background-color: #2e26ff;
    color: #fff;
    cursor: pointer;
    width: 100%;
    height: 29px;
    padding: 5px 10px 6px;
    font-family: Monserrat, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 0;
    border: none;
    border-radius: 20px;
  }
  button:hover {
    color: #2E26FF;
    background-color: #75fba6;
  }
}

/* ===============================
BEFORE MESSAGE LIST – C2C
=============================== */

.c2c {
  display: flex ;
  text-align: center;
  padding: 16px 20px;
  box-sizing: border-box;
  top: 50px;
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: center;
  .call_fill_data p:first-of-type {
    color: #00c24f;
    font-family: Monserrat, sans-serif;
  }
}
.c2c .webcareslot1 .cmec_bg .cmec_content .call_fill_data .button-call button {
  background-color: #2e26ff;
  color: #fff;
  border-radius: 20px;
}
.c2c .webcareslot1 .cmec_bg .cmec_content .call_fill_data .button-call button:hover {
  color: #2E26FF;
  background-color: #75fba6;
}

/* ===============================
AFTER MESSAGE LIST – GOTO VA
=============================== */

.goto-va {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  bottom: 86px;
  padding: 0 20px;

  hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 24px 0;
  }

  > div {
    text-align: center;
    padding-bottom: 16px;
  }

  h3 {
    margin: 0 0 8px 0;
    color: #00c24f;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
  }

  p {
    margin: 0;
    color: #000;
    font-size: 14px;
  }
}
