@font-face {
    font-family: "Montserrat";
    src: url("https://conteudos.meo.pt/Style%20Library/Brand/resources/fonts/Montserrat-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("https://conteudos.meo.pt/Style%20Library/Brand/resources/fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("https://conteudos.meo.pt/Style%20Library/Brand/resources/fonts/Montserrat-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
